[submodule "domain-guard-securitytrails"]
	path = domain-guard-securitytrails
	url = https://github.com/Atilova/domain-guard-securitytrails/
	branch = v1.0.0-demo
[submodule "domain-guard-aggregator"]
	path = domain-guard-aggregator
	url = https://github.com/Atilova/domain-guard-aggregator/
	branch = v1.0.0-demo
[submodule "domain-guard-dashboard"]
	path = domain-guard-dashboard
	url = https://github.com/Atilova/domain-guard-dashboard/
	branch = master